@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    margin: 0;
    font-family: 'Ubuntu';
    background-color: lightblue;
}
#content{
    text-align: center;
    margin-top: 3%;
}
button{
    padding:20px 50px;
    border:1px solid black;
    border-radius:10px;
    background-color:#fff;
    outline: none;
    font-family: 'Ubuntu';
    
}
h1{
    margin-top:50px;
}
.answers{
    margin-bottom: 140px;
}